@font-face {
  font-family: 'Fraunces';
  src: url('../font/Fraunces9pt-Black.woff2') format('woff2'),
      url('../font/Fraunces9pt-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../font/Barlow-Regular.woff2') format('woff2'),
      url('../font/Barlow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../font/Barlow-Bold.woff2') format('woff2'),
      url('../font/Barlow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root{
  --barlow-font: 'Barlow', sans-serif;
  --fraunces-font: 'Fraunces', serif;
  --white-color: #fefcf7;
  --btn-color: #0e8784;
  --heading-color: #333D48;
  --link-color: #83888f;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--barlow-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  background-color: #fefcf7;
  color: var(--heading-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.site-header {
  position: relative;
  z-index: 1;
  padding-top: 32px;
  padding-bottom: 40px;
}

.side-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-header__logo-img {
  display: block;
}

.side-header__btn {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 16px;
  height: 15px;
  background-image: url(../img/navbar.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}



.navbar {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  height: calc(300vh - 90px);
  left: -25px;
  right: -25px;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}

.side-header--open .navbar{
  display: block;
}

.side-header--open .side-header__btn{
  background-image: url(../img/close.svg);
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  padding: 40px 25px;
  
}

.navbar__item:not(:last-child) {
  margin-bottom: 32px;
}

.navbar__link {
  margin: 0;
  text-decoration: none;
  color: var(--heading-color);
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  transition: opacity 0.4s ease;
}

.navbar__link:hover{
  opacity: 0.6;
}


@media only screen and (min-width: 650px) {
  .container{
    padding-left: 40px;
    padding-right: 40px;
  }

  .side-header{
    padding-top: 40px;
    padding-bottom: 54px;
  }

  .side-heade__logo-img{
    width: 236px;
    height: 26px;
  }

  .side-header__btn{
    display: none;
  }

  .navbar{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    display: block;
    background-image: none;
  }

  .navbar__list{
    display: flex;
    align-items: center;
    padding: 0;
  }

  .navbar__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }

  .navbar__link{
    font-family: var(--barlow-font);
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--link-color);
  }
}

@media only screen and (min-width: 1200px) {
  .container{
    padding-left: 80px;
    padding-right: 80px;
  }

  .side-header{
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .navbar{
    background-image: none;
  }
}

/* HERO */

.hero-section {

}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 24px;
  border-radius: 10px;
  background-image: url(../img/coffee-homepage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__heading {
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 24px;
}

.hero__text {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: rgba(254, 252, 247, 0.8);
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 15px 31px;
  background-color: var(--btn-color);
  border-radius: 6px;
  text-decoration: none;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: 2px solid transparent;
  color: var(--white-color);
  transition: color 0.4s ease,
    background-color 0.4s ease,
    border 0.4s ease;
}

.btn:hover{
  color: #fff;
  background-color: #66d2cf;
  border: 2px solid #66d2cf;
}


@media only screen and (min-width: 650px) {
  .hero-container{
    display: block;
    padding: 104px 58px;
    border-radius: 10px;
    background-image: url(../img/hero-700.jpg);
  }

  .hero__heading{
    width: 329px;
    font-size: 48px;
    line-height: 48px;
    text-align: left;
  }

  .hero__text{
    text-align: left;
    width: 398px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-container{
    display: block;
    padding: 117px 85px;
    background-image: url(../img/hero-1200.jpg);
    background-size: cover;
  }

  .hero__heading{
    width: 493px;
    font-size: 72px;
    line-height: 72px;
    text-align: left;
    margin-bottom: 32px;
  }

  .hero__text{
    text-align: left;
    width: 445px;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 56px;
  }
}


/* COLLECTIONS */

.collections {
  position: relative;
  z-index: 1;
  padding-top: 120px;
  padding-bottom: 120px;
}

.collections__heading {
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
  background-color: var(--link-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  margin-bottom: 13px;
}

.collections__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.collections__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 282px;
}

.collections__item:not(:last-child){
  margin-bottom: 48px;
}

.collection__img {
  display: block;
  margin-bottom: 24px;
}

.collection__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 16px;
}

.collection__text {
  width: 282px;
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

@media only screen and (min-width: 650px) {
  .collections{
    padding-top: 203px;
    padding-bottom: 129px;
  }

  .collections__heading{
    position: absolute;
    z-index: -1;
    top: 160px;
    left: calc(50% - 340px);
    flex-shrink: 0;
    display: inline-block;
    font-size: 95px;
    line-height: 95px;
    margin-bottom: 0;
  }

  .collections__list{
    padding-left: 58px;
    padding-right: 58px;
  }

  .collections__item{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .collections__item:not(:last-child){
    margin-bottom: 32px;
  }

  .collection__img{
    width: 255px;
    margin-bottom: 0;
  }

  .collection-right{
    width: 282px;
  }

  .collection__heading{
    text-align: left;
    margin-bottom: 24px;
  }

  .collection__text{
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .collections{
    padding-top: 262px;
    padding-bottom: 129px;
  }

  .collections__heading{
    top: 180px;
    left: calc(50% - 550px);
    font-size: 150px;
    line-height: 1;
  }

  .collections__list{
    flex-direction: row;
    align-items: flex-start;
    flex-shrink: 1;
    padding-left: 85px;
    padding-right: 85px;
  }

  .collections__item{
    width: 100%;
    flex-direction: column;
  }

  .collections__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 30px;
  }

  .collection__img{
    width: 255px;
    margin-bottom: 72px;
  }

  .collection-right{
    width: 255px;
  }

  .collection__heading{
    text-align: center;
    margin-bottom: 24px;
  }

  .collection__text{
    width: 255px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }
}

/* PRICES */

.prices__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 900px;
  background-color: #2c343e;
  padding: 64px 24px 661px;
}

.prices__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 24px;
}

.prices__text {
  width: 279px;
  margin: 0;
  flex-shrink: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: rgba(254, 252, 247, 0.8);
}

.prices__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 64px;
}

.prices__item {
  width: 279px;
  padding: 72px 34px 51px;
  background-color: var(--btn-color);
  border-radius: 8px;
}

.prices__item:not(:last-child){
  margin-bottom: 24px;
}

.prices__item::before{
  display: block;
  width: 71px;
  height: 72px;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.coffee::before{
  background-image: url(../img/coffee.svg);
  content: "";
}

.prise::before{
  background-image: url(../img/price.svg);
  content: "";
}

.car::before{
  background-image: url(../img/car.svg);
  content: "";
}

.price__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 24px;
}

.price__text {
  width: 212px;
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--white-color);
}

@media only screen and (min-width: 650px) {
  .prices__box{
    height: 573px;
    padding: 56px 74px 368px;
  }

  .prices__heading{
    font-size: 32px;
    line-height: 48px;
  }

  .prices__text{
    width: 540px;
  }

  .prices__list{
    top: 275px;
    left: 58px;
    right: 58px;
  }

  .prices__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 572px;
    padding: 41px 48px 41px;
    background-color: var(--btn-color);
    border-radius: 8px;
  }

  .prices__item::before {
    margin: 0;
    margin-right: 55px;
  }

  .prices__right{
    width: 344px;
  }

  .price__heading {
    text-align: left;
    margin-bottom: 16px;
  }
  
  .price__text {
    width: 344px;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .prices__box{
    padding: 99px 370px 318px;
  }

  .prices__heading{
    font-size: 40px;
    line-height: 48px;
  }

  .prices__text {
    /* width: 540px; */
    font-size: 16px;
    line-height: 26px;
  }

  .prices__list{
    flex-direction: row;
    justify-content: flex-start;
    top: 345px;
    left: 85px;
    right: 85px;
  }

  .prices__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 72px 48px 48px;
  }
  
  .prices__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 30px;
  }

  .prices__item::before{
    margin-right: 0;
    margin-bottom: 56px;
  }

  .prices__right{
    width: 255px;
  }

  .price__heading {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .price__text {
    width: 255px;
    text-align: center;
  }
}


/* WORKS */

.works{
  padding-top: 717px;
  padding-bottom: 120px;
}

.works__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 80px;
  color: var(--link-color);
}

.works__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.works__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works__item:not(:last-child){
  margin-bottom: 56px;
}

.work__info {
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
  color: #fdd6ba;
  margin-bottom: 24px;
}

.work__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 24px;
}

.work__text {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.works__link{
  margin-top: 79px;
}

@media only screen and (min-width: 650px) {
  .works{
    padding-top: 434px;
    padding-bottom: 144px;
  }
  
  .works__container{
    align-items: flex-start;
  }
  
  .works__heading {
    margin-bottom: 48px;
    text-align: left;
  }

  .works__heading::after{
    display: block;
    width: 497px;
    height: 31px;
    background-image: url(../img/works-oval.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    content: "";
  }
  
  .works__list {
    flex-direction: row;
    align-items: flex-start;
  }
  
  .works__item {
    align-items: flex-start;
    width: 223px;
  }
  
  .works__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 10px;
  }
  
  .work__info {
    margin-bottom: 42px;
  }
  
  .work__heading {
    text-align: left;
    margin-bottom: 38px;
  }
  
  .work__text {
    text-align: left;
  }
  
  .works__link{
    margin-top: 44px;
  }
}

@media only screen and (min-width: 1200px) {
  .works{
    padding-top: 350px;
    padding-bottom: 200px;
  }
  
  .works__heading {
    margin-bottom: 67px;
    text-align: left;
  }

  .works__heading::after{
    width: 791px;
    background-image: url(../img/works-oval2.png);  
    margin-top: 80px;
    content: "";
  }
  
  .works__list {
    flex-direction: row;
    align-items: flex-start;
  }
  
  .works__item {
    width: 285px;
  }
  
  .works__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 95px;
  }
  
  .work__info {
    margin-bottom: 42px;
  }
  
  .work__heading {
    width: 255px;
    text-align: left;
    margin-bottom: 38px;
    font-size: 32px;
    line-height: 36px;
  }
  
  .work__text {
    width: 285px;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
  }
  
  .works__link{
    margin-top: 64px;
  }
}

/* FOOTER */

.side__footer {
  padding-bottom: 72px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px;
  background-color: #2c343e;
}

.footer__logo{
  margin-bottom: 49px;
}

.logo__img {
  display: block;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item:not(:last-child) {
  margin-bottom: 24px;
}

.footer__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.4s ease;
}

.footer__link:hover{
  color: #fff;
}

.footer__icon {
  display: flex;
  align-items: center;
  margin-top: 49px;
}

.footer__icon-link:not(:last-child){
  margin-right: 24px;
}

.footer__svg {
  display: block;
  fill: #fff;
  transition: fill 0.4s ease;
}

.footer__svg:hover{
  fill: #fdd6ba;
}

@media only screen and (min-width: 650px) {
  .footer__logo{
    margin-bottom: 34px;
  }
  
  .footer__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }
  
  .footer__icon {
    margin-top: 65px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__container{
    flex-direction: row;
    padding: 47px 85px;
  }

  .footer__logo{
    margin-bottom: 0;
    margin-right: 103px;
  }

  .logo__img{
    width: 236px;
    height: 26px;
  }
  
  .footer__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }
  
  .footer__icon {
    margin-top: 0;
    margin-left: auto;
  }
}




/* ABOUT US */


/* ABOUT HERO */

.about-hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 111px 24px 87px;
  border-radius: 10px;
  background-image: url(../img/about-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-hero__heading {
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;  
  text-align: center;
  color: var(--white-color);
  margin-bottom: 24px;
}

.about-hero__text {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: rgba(254, 252, 247, 0.8);
  margin-bottom: 40px;
}


@media only screen and (min-width: 650px) {
  .hero-container{
    display: block;
    padding: 104px 58px;
    border-radius: 10px;
    background-image: url(../img/hero-700.jpg);
  }

  .hero__heading{
    width: 329px;
    font-size: 48px;
    line-height: 48px;
    text-align: left;
  }

  .hero__text{
    text-align: left;
    width: 398px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-container{
    display: block;
    padding: 117px 85px;
    background-image: url(../img/hero-1200.jpg);
    background-size: cover;
  }

  .hero__heading{
    width: 493px;
    font-size: 72px;
    line-height: 72px;
    text-align: left;
    margin-bottom: 32px;
  }

  .hero__text{
    text-align: left;
    width: 445px;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 56px;
  }
}


/* COMMIT */

.commit__container {
  padding-top: 120px;
  padding-bottom: 198px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.commit__img {
  display: block;
  border-radius: 8px;
}

.commit__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-commit__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  color: var(--heading-color);
  margin-top: 48px;
  margin-bottom: 30px;
}

.info-commit__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: rgba(51, 61, 75, 0.8);
}



/* PROMISE */

.promise__container {
  position: relative;
  z-index: 1;
  padding: 142px 24px 61px;
  background-color: #2c343e;
  border-radius: 10px;

}

.promise__img {
  position: absolute;
  z-index: 1;
  top: -15%;
  left: calc(50% - 140px);
  display: block;
  border-radius: 8px;
}

.promise__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-promise__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  color: var(--white-color);
  margin-bottom: 24px;
}

.info-promise__text {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: rgba(254, 252, 247, 0.8);
}



/* QUARTER */


.quarter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.quarter__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--link-color);
  margin-bottom: 72px;
}

.quarter__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.quarter__item:not(:last-child) {
  margin-bottom: 80px;
}

.quarter__item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-quarter::before {
  display: block;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 49px;
  content: "";
}

.uk::before{
  background-image: url(../img/uk.png);
  content: "";
}

.canada::before{
  background-image: url(../img/canada.png);
  content: "";
}

.australia::before{
  background-image: url(../img/australia.png);
  content: "";
}


.info-quarter__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
  color: var(--heading-color);
  margin-bottom: 22px;
}

.info-quarter__address {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
}

.info-quarter__part {
  margin-bottom: 2px;
}

.info-quarter__tel-link{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
}

