@font-face {
  font-family: 'Fraunces';
  src: url('../font/Fraunces9pt-Black.woff2') format('woff2'),
      url('../font/Fraunces9pt-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../font/Barlow-Regular.woff2') format('woff2'),
      url('../font/Barlow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../font/Barlow-Bold.woff2') format('woff2'),
      url('../font/Barlow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root{
  --barlow-font: 'Barlow', sans-serif;
  --fraunces-font: 'Fraunces', serif;
  --white-color: #fefcf7;
  --btn-color: #0e8784;
  --heading-color: #333D48;
  --link-color: #83888f;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--barlow-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  background-color: #fefcf7;
  color: var(--heading-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.site-header {
  position: relative;
  z-index: 1;
  padding-top: 32px;
  padding-bottom: 40px;
}

.side-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-header__logo-img {
  display: block;
}

.side-header__btn {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 16px;
  height: 15px;
  background-image: url(../img/navbar.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}



.navbar {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  height: calc(300vh - 90px);
  left: -25px;
  right: -25px;
  text-align: center;
  background-image: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}

.side-header--open .navbar{
  display: block;
}

.side-header--open .side-header__btn{
  background-image: url(../img/close.svg);
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  padding: 40px 25px;
  
}

.navbar__item:not(:last-child) {
  margin-bottom: 32px;
}

.navbar__link {
  margin: 0;
  text-decoration: none;
  color: var(--heading-color);
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  transition: opacity 0.4s ease;
}

.navbar__link:hover{
  opacity: 0.6;
}


@media only screen and (min-width: 650px) {
  .container{
    padding-left: 40px;
    padding-right: 40px;
  }

  .side-header{
    padding-top: 40px;
    padding-bottom: 54px;
  }

  .side-heade__logo-img{
    width: 236px;
    height: 26px;
  }

  .side-header__btn{
    display: none;
  }

  .navbar{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    display: block;
    background-image: none;
  }

  .navbar__list{
    display: flex;
    align-items: center;
    padding: 0;
  }

  .navbar__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }

  .navbar__link{
    font-family: var(--barlow-font);
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--link-color);
  }
}

@media only screen and (min-width: 1200px) {
  .container{
    padding-left: 80px;
    padding-right: 80px;
  }

  .side-header{
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .navbar{
    background-image: none;
  }
}

/* HERO */

.hero-section {

}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 24px;
  border-radius: 10px;
  background-image: url(../img/coffee-homepage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__heading {
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 24px;
}

.hero__text {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: rgba(254, 252, 247, 0.8);
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 15px 31px;
  background-color: var(--btn-color);
  border-radius: 6px;
  text-decoration: none;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: 2px solid transparent;
  color: var(--white-color);
  transition: color 0.4s ease,
    background-color 0.4s ease,
    border 0.4s ease;
}

.btn:hover{
  color: #fff;
  background-color: #66d2cf;
  border: 2px solid #66d2cf;
}


@media only screen and (min-width: 650px) {
  .hero-container{
    display: block;
    padding: 104px 58px;
    border-radius: 10px;
    background-image: url(../img/hero-700.jpg);
  }

  .hero__heading{
    width: 329px;
    font-size: 48px;
    line-height: 48px;
    text-align: left;
  }

  .hero__text{
    text-align: left;
    width: 398px;
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-container{
    display: block;
    padding: 117px 85px;
    background-image: url(../img/hero-1200.jpg);
    background-size: cover;
  }

  .hero__heading{
    width: 493px;
    font-size: 72px;
    line-height: 72px;
    text-align: left;
    margin-bottom: 32px;
  }

  .hero__text{
    text-align: left;
    width: 445px;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 56px;
  }
}


/* COLLECTIONS */

.collections {
  position: relative;
  z-index: 1;
  padding-top: 120px;
  padding-bottom: 120px;
}

.collections__heading {
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
  background-color: var(--link-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  margin-bottom: 13px;
}

.collections__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.collections__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 282px;
}

.collections__item:not(:last-child){
  margin-bottom: 48px;
}

.collection__img {
  display: block;
  margin-bottom: 24px;
}

.collection__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 16px;
}

.collection__text {
  width: 282px;
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

@media only screen and (min-width: 650px) {
  .collections{
    padding-top: 203px;
    padding-bottom: 129px;
  }

  .collections__heading{
    position: absolute;
    z-index: -1;
    top: 160px;
    left: calc(50% - 340px);
    flex-shrink: 0;
    display: inline-block;
    font-size: 95px;
    line-height: 95px;
    margin-bottom: 0;
  }

  .collections__list{
    padding-left: 58px;
    padding-right: 58px;
  }

  .collections__item{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .collections__item:not(:last-child){
    margin-bottom: 32px;
  }

  .collection__img{
    width: 255px;
    margin-bottom: 0;
  }

  .collection-right{
    width: 282px;
  }

  .collection__heading{
    text-align: left;
    margin-bottom: 24px;
  }

  .collection__text{
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .collections{
    padding-top: 262px;
    padding-bottom: 129px;
  }

  .collections__heading{
    top: 180px;
    left: calc(50% - 550px);
    font-size: 150px;
    line-height: 1;
  }

  .collections__list{
    flex-direction: row;
    align-items: flex-start;
    flex-shrink: 1;
    padding-left: 85px;
    padding-right: 85px;
  }

  .collections__item{
    width: 100%;
    flex-direction: column;
  }

  .collections__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 30px;
  }

  .collection__img{
    width: 255px;
    margin-bottom: 72px;
  }

  .collection-right{
    width: 255px;
  }

  .collection__heading{
    text-align: center;
    margin-bottom: 24px;
  }

  .collection__text{
    width: 255px;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }
}

/* PRICES */

.prices__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 900px;
  background-color: #2c343e;
  padding: 64px 24px 661px;
}

.prices__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 24px;
}

.prices__text {
  width: 279px;
  margin: 0;
  flex-shrink: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: rgba(254, 252, 247, 0.8);
}

.prices__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 64px;
}

.prices__item {
  width: 279px;
  padding: 72px 34px 51px;
  background-color: var(--btn-color);
  border-radius: 8px;
}

.prices__item:not(:last-child){
  margin-bottom: 24px;
}

.prices__item::before{
  display: block;
  width: 71px;
  height: 72px;
  margin-bottom: 56px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.coffee::before{
  background-image: url(../img/coffee.svg);
  content: "";
}

.prise::before{
  background-image: url(../img/price.svg);
  content: "";
}

.car::before{
  background-image: url(../img/car.svg);
  content: "";
}

.price__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 24px;
}

.price__text {
  width: 212px;
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--white-color);
}

@media only screen and (min-width: 650px) {
  .prices__box{
    height: 573px;
    padding: 56px 74px 368px;
  }

  .prices__heading{
    font-size: 32px;
    line-height: 48px;
  }

  .prices__text{
    width: 540px;
  }

  .prices__list{
    top: 275px;
    left: 58px;
    right: 58px;
  }

  .prices__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 572px;
    padding: 41px 48px 41px;
    background-color: var(--btn-color);
    border-radius: 8px;
  }

  .prices__item::before {
    margin: 0;
    margin-right: 55px;
  }

  .prices__right{
    width: 344px;
  }

  .price__heading {
    text-align: left;
    margin-bottom: 16px;
  }
  
  .price__text {
    width: 344px;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .prices__box{
    padding: 99px 370px 318px;
  }

  .prices__heading{
    font-size: 40px;
    line-height: 48px;
  }

  .prices__text {
    /* width: 540px; */
    font-size: 16px;
    line-height: 26px;
  }

  .prices__list{
    flex-direction: row;
    justify-content: flex-start;
    top: 345px;
    left: 85px;
    right: 85px;
  }

  .prices__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 72px 48px 48px;
  }
  
  .prices__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 30px;
  }

  .prices__item::before{
    margin-right: 0;
    margin-bottom: 56px;
  }

  .prices__right{
    width: 255px;
  }

  .price__heading {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .price__text {
    width: 255px;
    text-align: center;
  }
}


/* WORKS */

.work-process {
  text-align: center;
  padding-top: 717px;
  padding-bottom: 120px;
}

.work-process__heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--link-color);
}

.work-process__list {
  padding: 0;
  margin: 0;
  margin-bottom: 56px;
  list-style: none;
  counter-reset: work-process;
}

.work-process__item {
  counter-increment: work-process;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.work-process__item:not(:last-child) {
  margin-bottom: 56px;
}

/* ITEM-WORK-PROCESS */
.item-work-process__content::before {
  display: block;
  margin-bottom: 24px;
  content: "0" counter(work-process);
}

.item-work-process__heading {
  margin-top: 0;
  font-family: var(--fraunces-font);
  font-size: 28px;
  line-height: 32px;
  font-weight: 900;
  margin-bottom: 24px;
  color: var(--heading-color);
}

.item-work-process__desc {
  margin: 0;
  font-family: var(--barlow-font);
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: var(--heading-color);
}

@media only screen and (min-width: 500px) {
  .item-work-process {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 650px) {
  .work-process {
    text-align: left;
    padding-top: 434px;
    padding-bottom: 144px;
  }

  .work-process__heading{
    margin-bottom: 40px;
  }

  .work-process__list {
    display: flex;
  }

  .work-process__item {
    position: relative;
    z-index: 1;
    width: 33.33%;
    padding-left: 0;
    padding-right: 10px;
  }

  .work-process__item:not(:last-child) {
    margin-bottom: 0;
  }

  .work-process__item::before {
    display: block;
    width: 31px;
    height: 31px;
    border: 2px solid #0E8784;
    margin-bottom: 48px;
    border-radius: 50%;
    background-color: #FEFCF7;
    content: "";
  }

  .work-process__item:not(:last-child)::after {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 14px;
    width: 100%;
    height: 2px;
    background-color: #FDD6BA;
    content: "";
  }

  .item-work-process__heading {
    padding-right: 60px;
  }
}

@media only screen and (min-width: 900px) {
  .item-work-process {
    padding-right: 30px;
  }

  .item-work-process__heading {
    padding-right: 80px;
  }
}

@media only screen and (min-width: 1000px) {
  .item-work-process {
    padding-right: 95px;
  }

  .item-work-process__heading {
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1150px) {
  .work-process{
    padding-top: 350px;
    padding-bottom: 200px;
  }

  .work-process__heading{
  margin-bottom: 80px;
  }

  .item-work-process__heading {
    padding-right: 70px;
  }
}

@media only screen and (min-width: 1210px) {
  .item-work-process__heading {
    padding-right: 100px;
  }
}

/* FOOTER */

.side__footer {
  padding-bottom: 72px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px;
  background-color: #2c343e;
}

.footer__logo{
  margin-bottom: 49px;
}

.logo__img {
  display: block;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__item:not(:last-child) {
  margin-bottom: 24px;
}

.footer__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.4s ease;
}

.footer__link:hover{
  color: #fff;
}

.footer__icon {
  display: flex;
  align-items: center;
  margin-top: 49px;
}

.footer__icon-link:not(:last-child){
  margin-right: 24px;
}

.footer__svg {
  display: block;
  fill: #fff;
  transition: fill 0.4s ease;
}

.footer__svg:hover{
  fill: #fdd6ba;
}

@media only screen and (min-width: 650px) {
  .footer__logo{
    margin-bottom: 34px;
  }
  
  .footer__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }
  
  .footer__icon {
    margin-top: 65px;
  }
}

@media only screen and (min-width: 1200px) {
  .footer__container{
    flex-direction: row;
    padding: 47px 85px;
  }

  .footer__logo{
    margin-bottom: 0;
    margin-right: 103px;
  }

  .logo__img{
    width: 236px;
    height: 26px;
  }
  
  .footer__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }
  
  .footer__icon {
    margin-top: 0;
    margin-left: auto;
  }
}




/* ABOUT US */


/* ABOUT HERO */

.about-hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 111px 24px 87px;
  border-radius: 10px;
  background-image: url(../img/about-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-hero__heading {
  margin: 0;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;  
  text-align: center;
  color: var(--white-color);
  margin-bottom: 24px;
}

.about-hero__text {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: rgba(254, 252, 247, 0.8);
}


@media only screen and (min-width: 650px) {
  .about-hero__container {
    align-items: flex-start;
    padding: 118px 232px 118px 59px;
    background-image: url(../img/about-tablet.jpg);
  }
  
  .about-hero__heading {
    font-size: 32px;
    line-height: 40px;  
    text-align: left;
  }
  
  .about-hero__text {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    color: rgba(254, 252, 247, 0.8);
  }
  
}


@media only screen and (min-width: 1200px) {
  .about-hero__container {
    padding: 137px 87px 137px;
    background-image: url(../img/about-decktop.jpg);
  }
  
  .about-hero__heading {
    font-size: 40px;
  }
  
  .about-hero__text {
    width: 445px;
    font-size: 16px;
    line-height: 26px;
  }
}


/* COMMIT */

.commit__container {
  padding-top: 120px;
  padding-bottom: 198px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.commit__img {
  display: block;
  border-radius: 8px;
}

.commit__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-commit__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  color: var(--heading-color);
  margin-top: 48px;
  margin-bottom: 30px;
}

.info-commit__text {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: rgba(51, 61, 75, 0.8);
}


@media only screen and (min-width: 650px) {
  .commit__container {
    padding-top: 144px;
    padding-bottom: 329px;
    flex-direction: row;
    justify-content: center;
  }

  .commit__img {
    display: block;
    flex-shrink: 0;
    border-radius: 8px;
    margin-right: 69px;
    width: 281px;
    height: 470px;
  }
  
  .commit__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  
  .info-commit__heading {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: left;
  }
  
  .info-commit__text {
    width: 340px;
  }
  
}

@media only screen and (min-width: 1200px) {
  .commit__container {
    padding-top: 144px;
    padding-bottom: 329px;
  }
  
  .commit__img {
    margin-right: 125px;
    width: 445px;
    height: 520px;
  }
  
  .commit__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  
  .info-commit__heading {
    margin-bottom: 32px;
  }
  
  .info-commit__text {
    width: 540px;
  }
}


/* PROMISE */

.promise__container {
  position: relative;
  z-index: 1;
  padding: 142px 24px 61px;
  background-color: #2c343e;
  border-radius: 10px;

}

.promise__img {
  position: absolute;
  z-index: 1;
  top: -15%;
  left: calc(50% - 140px);
  display: block;
  border-radius: 8px;
}

.promise__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-promise__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
  color: var(--white-color);
  margin-bottom: 24px;
}

.info-promise__text {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: rgba(254, 252, 247, 0.8);
}


@media only screen and (min-width: 650px){
  .promise__container {
    position: relative;
    z-index: 1;
    padding: 224px 74px 67px;
    background-color: #2c343e;
    border-radius: 10px;
  
  }
  
  .promise__img {
    top: -37%;
    left: calc(50% - 287px);
    width: 573px;
    height: 320px;
  }
  
  .promise__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .info-promise__heading {
    font-size: 32px;
    line-height: 48px;
  }
  
  .info-promise__text {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: rgba(254, 252, 247, 0.8);
  }
}

@media only screen and (min-width: 1200px) {
  .promise__container {
    padding: 100px 85px 176px;  
  }
  
  .promise__img {
    top: -98px;
    left: calc(50% + 110px);
    width: 445px;
    height: 474px;
  }
  
  .promise__info {
    align-items: flex-start;
    text-align: left;
    width: 540px;
  }
  
  .info-promise__heading {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 32px;
  }
  
  .info-promise__text {
    font-size: 16px;
    line-height: 26px;
  }
}

/* QUARTER */


.quarter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.quarter__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--link-color);
  margin-bottom: 72px;
}

.quarter__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.quarter__item:not(:last-child) {
  margin-bottom: 80px;
}

.quarter__item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-quarter::before {
  display: block;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 49px;
  content: "";
}

.uk::before{
  background-image: url(../img/uk.png);
  content: "";
}

.canada::before{
  background-image: url(../img/canada.png);
  content: "";
}

.australia::before{
  background-image: url(../img/australia.png);
  content: "";
}


.info-quarter__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
  color: var(--heading-color);
  margin-bottom: 22px;
}

.info-quarter__address {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
}

.info-quarter__part {
  margin-bottom: 2px;
}

.info-quarter__tel-link{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
}

@media only screen and (min-width: 650px){
  .quarter__container {
    align-items: flex-start;
    padding-top: 144px;
    padding-bottom: 144px;
  }
  
  .quarter__list {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
  
  .quarter__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 10px;
  }
  
  .quarter__item{
    align-items: flex-start;
    width: 223px;
  }  
  
  .info-quarter__heading {
    font-size: 24px;
    margin-bottom: 21px;
  }  
}

@media only screen and (min-width: 1200px){
  .quarter__container {
    padding-top: 168px;
    padding-bottom: 168px;
    padding-left: 85px;
  }
  
  .quarter__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 95px;
  }
  
  .quarter__item{
    align-items: flex-start;
    width: 285px;
  }  
  
  .info-quarter__heading {
    font-size: 24px;
    margin-bottom: 21px;
  }  
}



/* SUBSCRIBE */


.subscribe--hero .hero-container {
  padding-bottom: 136px;
  background-image: url(../img/subscribe-mobile.jpg);
  background-size: cover;
}

.subscribe--hero .hero__heading {
  margin-bottom: 22px;
}

.subscribe--hero .hero__text {
  margin-bottom: 0;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 15px 31px;
  background-color: var(--btn-color);
  border-radius: 6px;
  text-decoration: none;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: 2px solid transparent;
  color: var(--white-color);
  transition: color 0.4s ease,
    background-color 0.4s ease,
    border 0.4s ease;
}

.btn:hover{
  color: #fff;
  background-color: #66d2cf;
  border: 2px solid #66d2cf;
}


@media only screen and (min-width: 650px) {
  .subscribe--hero .hero-container{
    display: block;
    padding: 127px 58px;
    border-radius: 10px;
    background-image: url(../img/subscribe-tablet.jpg);
  }

  .subscribe--hero .hero__heading{
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .subscribe--hero .hero-container{
    padding: 134px 85px;
    background-image: url(../img/subscribe-desktop.jpg);
  }
}


/* SUBSCRIBE-WORK */

.subscribe--work {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.work-process__container{
  background-color: #2c343e;
  border-radius: 10px;
  margin-left: -24px;
  margin-right: -24px;
  padding-top: 80px;
  padding-bottom: 90px;
}

.subscribe--work .work-process__list {
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
}

.subscribe--work .item-work-process__heading {
  color: #fff;
}

.subscribe--work .item-work-process__desc {
  color: #fff;
}

@media only screen and (min-width: 500px) {
  .item-work-process {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 650px) {
  .subscribe--work {
    text-align: left;
    padding-top: 144px;
    padding-bottom: 144px;
  }

  .work-process__container{
    margin-left: -40px;
    margin-right: -40px;
    padding-top: 97px;
    padding-bottom: 97px;
  }

  .subscribe--work .work-process__item {
    position: relative;
    z-index: 1;
    width: 33.33%;
    padding-left: 0;
    padding-right: 10px;
    text-align: left;
  }

  .work-process__item:not(:last-child) {
    margin-bottom: 0;
  }

  .work-process__item::before {
    display: block;
    width: 31px;
    height: 31px;
    border: 2px solid #0E8784;
    margin-bottom: 48px;
    border-radius: 50%;
    background-color: transparent;
    content: "";
  }

  .work-process__item:not(:last-child)::after {
    position: absolute;
    z-index: -1;
    left: 15px;
    top: 14px;
    width: 100%;
    height: 2px;
    background-color: #FDD6BA;
    content: "";
  }

  .subscribe--work .item-work-process__content::before {
    margin-bottom: 42px;
  }

  .subscribe--work .item-work-process__heading {
    padding-right: 60px;
    margin-bottom: 38px;
  }
}

@media only screen and (min-width: 900px) {
  .item-work-process {
    padding-right: 30px;
  }

  .subscribe--work .item-work-process__heading {
    padding-right: 80px;
  }
}

@media only screen and (min-width: 1000px) {
  .item-work-process {
    padding-right: 95px;
  }

  .subscribe--work .item-work-process__heading {
    width: 223px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1150px) {
  .subscribe--work{
    padding-top: 168px;
    padding-bottom: 168px;
  }

  .work-process__container{
    margin-left: 0;
    margin-right: 0;
    padding-top: 97px;
    padding-bottom: 97px;
    border-radius: 0;
  }

  .subscribe--work .work-process__list {
    margin-bottom: 0;
    margin-left: 85px;
    margin-right: 55px;
  }

  .subscribe--work .work-process__item {
    position: relative;
    z-index: 1;
    width: 33.33%;
    padding-left: 0;
    padding-right: 95px;
    text-align: left;
  }

  .subscribe--work .work-process__item::before {
    margin-bottom: 67px;
  }

  .subscribe--work .item-work-process__content::before {
    margin-bottom: 38px;
  }

  .subscribe--work .item-work-process__heading {
    width: 255px;
    padding-right: 20px;
    margin-bottom: 43px;
  }
}

@media only screen and (min-width: 1210px) {
  .item-work-process__heading {
    padding-right: 100px;
  }
}



/* SUBSCRIBE FORM */

.form {
  padding-bottom: 120px;
}

.form__container{
  display: flex;
  justify-content: center;
}

.form__left {
  margin-right: 125px;
  display: none;
}

.left-form__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 255px;
  counter-reset: subscribe;
}

.left-form__item:not(:last-child)::after {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(131, 136, 143, 0.25);
  margin: 24px 0;
  content: "";
}

.left-form__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  counter-increment: subscribe;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: var(--link-color);
  transition: color 0.4s ease;
}

.left-form__link:hover{
  color: var(--heading-color);
}

.left-form__link:active{
  color: var(--heading-color);
}

.left-form__link::before{
  display: block;
  margin-right: 10px;
  content: "0" counter(subscribe);
  transition: color 0.4s ease;
}

.left-form__link:hover.left-form__link::before{
  color: var(--btn-color);
}

/* FORM RIGHT */

.form__right-active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-form__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 328px;
}

.right-form__item--active .right-footer{
  display: block;
}

.right-form__item:not(:last-child) {
  margin-bottom: 96px;
}

.right-form__item:last-child {
  margin-bottom: 115px;
}

.right-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-header__heading {
  margin: 0;
  width: 240px;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: var(--link-color);
}

.right-header__btn {
  border: none;
  width: 19px;
  height: 12px;
  background-color: transparent;
  background-image: url(../img/subskribe-bottom.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.right-form__item--active .right-header__btn{
  background-image: url(../img/subskribe-top.svg);
}

.right-footer{
  display: none;
}

.right-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.right-footer__item {
}

.right-footer__item:not(:last-child){
  margin-bottom: 16px;
}


.right-footer__field:checked ~ .right-footer__box {
  background-color: var(--btn-color);
  color: #fff;
}

.right-footer__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--heading-color);
  width: 100%;
  padding: 24px 25px;
  background-color: #f4f1eb;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.4s ease,
    background-color 0.4s ease;
}

.right-footer__box:hover{
  background-color: #fdd6ba;
}


.field-box__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

.field-box__text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}


.right-form__create {
  padding: 32px 25px;
  background-color: #2c343e;
  border-radius: 10px;
  margin-bottom: 56px;
}

.right-form__create-info {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.right-form__create-text {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
}

.right-form__create-green {
  color: var(--btn-color);
}

.right-form__create-link {

}

@media only screen and (min-width: 650px) {  
  .form__right-active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right-form__list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 689px;
  }
  
  .right-form__item--active .right-footer{
    display: block;
  }
  
  .right-form__item:not(:last-child) {
    margin-bottom: 100px;
  }
  
  .right-form__item:last-child {
    margin-bottom: 140px;
  }
  
  .right-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .right-header__heading {
    margin: 0;
    width: 100%;
    font-family: var(--fraunces-font);
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: var(--link-color);
  }
  
  .right-footer{
    display: none;
  }
  
  .right-footer__list {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 40px;
  }
  
  .right-footer__item {
  }
  
  .right-footer__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 10px;
  }
  
  .right-footer__box {
    width: 100%;
    padding: 32px 18px 84px 25px;
  }
  
  .field-box__heading {
    margin-bottom: 24px;
  }
  
  .right-form__create {
    padding: 27px 44px;
    margin-bottom: 40px;
  }

}

@media only screen and (min-width: 1200px) {
  .form{
    padding-bottom: 168px;
  }

  .form__container{
    display: flex;
    justify-content: center;
  }

  .form__left{
    display: block;
  }
  
  .form__right-active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .right-form__list {
    width: 730px;
  }
  
  .right-form__item--active .right-footer{
    display: block;
  }
  
  .right-form__item:not(:last-child) {
    margin-bottom: 88px;
  }
  
  .right-form__item:last-child {
    margin-bottom: 88px;
  }
  
  .right-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .right-header__heading {
    font-size: 40px;
    line-height: 48px;
  }
  
  .right-footer{
    display: none;
  }
  
  .right-footer__list {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 40px;
  }
  
  .right-footer__item {
    width: 228px;
  }
  
  .right-footer__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 23px;
  }
  
  .right-footer__box {
    width: 100%;
    padding: 32px 20px 84px 28px;
  }
  
  .field-box__heading {
    margin-bottom: 24px;
  }
  
  .right-form__create {
    width: 730px;
    padding: 31px 64px 27px;
    margin-bottom: 40px;
  }

}

/* MODAL */

.modal {
  position: fixed;
  display: none;
  z-index: 99;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__part{
  display: block;
  width: 327px;
  margin-left: auto;
  margin-right: auto;
 
}

.modal--open{
  display: block;
} 

.modal__heading {
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  color: #fff;
  padding: 28px 24px;
  width: 327px;
  background-color: var(--heading-color);
  border-radius: 8px 8px 0 0;
  margin-top: 40px;
}

.modal__box {
  width: 327px;
  background-color: #fff;
  padding: 40px 24px 24px; 
  border-radius: 0 0 8px 8px;
}

.modal__box .right-form__create-text {
  color: var(--link-color);
}

.modal__text {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: rgba(51, 61, 72, 0.8);
  margin-bottom: 24px;
}

.modal__link-box {
  display: flex;
  align-items: center;
}

.modal__link-info {
  display: none;
  margin: 0;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: var(--heading-color);
  margin-right: 13px;
}

.modal__link-mobile {
}

@media only screen and (min-width: 650px) {
  .modal__part{
    width: 540px;
  }

  .modal__heading {
    font-size: 40px;
    line-height: 48px;
    padding: 48px 56px 40px;
    width: 540px;
  }
  
  .modal__box {
    width: 540px;
    padding: 57px 56px 56px; 
  }
  
  .modal__box .right-form__create-text {
    color: var(--link-color);
    margin-bottom: 7px;
  }
  
  .modal__text {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: rgba(51, 61, 72, 0.8);
    margin-bottom: 47px;
  }

  .modal__link-info {
    display: block;
    margin: 0;
    flex-shrink: 0;
    font-family: var(--fraunces-font);
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: var(--heading-color);
    margin-right: 13px;
  }

  .modal__link{
    padding: 15px 62px;
    font-size: 18px;
    line-height: 25px;
  }
  
  .modal__link-mobile {
    display: none;
  }

}


